.address__ind {
    position: absolute;
    width: 23rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    top: 6.5rem;
    background-color: #094aa8;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    padding: 1rem;
    border-radius: .2rem;
    .address__div {
        width: 95%;
        margin-bottom: .6rem;
    }
    input {
        padding: .3rem;
        font-family: 'Barlow', sans-serif;
        width: 20rem;
        border-radius: .2rem;
        border: none;
        height: 2rem;
    }
}