.delivery__ {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .delivery_container {
        display: flex;
        font-family: 'Barlow', sans-serif;
        flex-direction: column;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        .delivery_subcontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            button {
                font-family: 'Barlow', sans-serif;
                cursor: pointer;
                flex: 1 1;
                text-align: center;
                margin: 5px;
                font-size: 16px;
                border-radius: 5px;
                border-width: 1px;
                border-style: solid;
                padding: 15px 5px;
                background-color: transparent;
                border-color: #fff!important;
                color: #fff;
                &:hover {
                    background-color: #ffffff;
                    color: #094aa8;
                    border: 1px solid #ffffff;
                }
                &:active {
                    background-color: #094aa8;;
                    color: #ffffff;
                    border: 1px solid #ffffff;
                }
            }
        // button {
        //     font-family: 'Barlow', sans-serif;
        //     background: transparent;
        //     cursor: pointer;
        //     border-style: none;
        //     color: #fff;
        //     text-transform: uppercase;
        //     font-weight: 700;
        //     font-size: 1rem;
        //     word-spacing: 3px;
        //     text-indent: 0px;
        //     text-shadow: none;
        //     text-align: center;
        //     &:hover {
        //         border-bottom: 2px solid #e07223;
        //         color: #e07223;
        //     }
        //     &:active {
        //         color: #000;
        //     }
        }
    }
}