.login_ {
    font-family: 'Barlow', sans-serif;
    background: transparent;
    cursor: pointer;
    border-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 3px;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    &:hover {
        color: #e07223;
    }
    &:active {
        color: #000;
    }
}